<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>animalert1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{356,356}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1469,376},{356,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{364,368}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,1123},{364,368}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{364,369}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{737,749},{364,369}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,371}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,750},{366,371}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,371}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{737,376},{366,371}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,371}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{369,750},{366,371}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,372}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{371,1},{366,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,372}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,376},{366,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-1}</string>
    <key>spriteSize</key>
    <string>{368,373}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,1},{368,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,372}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,376},{366,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,372}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{369,376},{366,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{356,356}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1469,376},{356,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,372}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{739,1},{366,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,371}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{737,376},{366,371}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{366,371}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,750},{366,371}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{364,369}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{737,749},{364,369}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{364,369}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1107,1},{364,369}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,367}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1105,376},{362,367}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,365}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{367,1123},{362,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,364}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{731,1123},{362,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert28.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{360,362}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1105,1112},{360,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{360,361}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{731,1489},{360,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{358,359}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1467,1112},{358,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{360,361}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1105,1476},{360,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{358,359}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1467,1112},{358,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{360,359}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1,1493},{360,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{360,362}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{367,1490},{360,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{360,362}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1105,1112},{360,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,364}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{731,1123},{362,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,365}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{367,1123},{362,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>animalert9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{362,365}</string>
    <key>spriteSourceSize</key>
    <string>{376,376}</string>
    <key>textureRect</key>
    <string>{{1105,745},{362,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1828,1855}</string>
   <key>textureFileName</key>
   <string>playanim/AnimAlert-uhd.png</string>
  </dict>
 </dict>
</plist>
