<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>CreatorBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,0},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{780,0},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,780},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{260,780},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{780,260},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{520,780},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{780,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{1040,0},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,1040},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{260,1040},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{260,0},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{1040,260},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{780,780},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{520,1040},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{1040,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{780,1040},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{1040,780},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,260},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{260,260},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{520,0},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{0,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{260,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{520,260},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,258}</string>
    <key>spriteSourceSize</key>
    <string>{258,258}</string>
    <key>textureRect</key>
    <string>{{520,520},{258,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1300,1300}</string>
   <key>textureFileName</key>
   <string>playanim/CreatorBtnAnim.png</string>
  </dict>
 </dict>
</plist>
