<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>CreatorBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,0},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{393,0},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,393},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{131,393},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{393,131},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{262,393},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{393,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{524,0},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,524},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{131,524},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{131,0},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{524,131},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{393,393},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{262,524},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{524,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{393,524},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{524,393},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,131},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{131,131},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{262,0},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{0,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{131,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{262,131},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,129}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{262,262},{129,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{655,655}</string>
   <key>textureFileName</key>
   <string>playanim/CreatorBtnAnim-hd.png</string>
  </dict>
 </dict>
</plist>
