<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>CreatorBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{201,0},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,201},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{67,201},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{201,67},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{134,201},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{201,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{268,0},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,268},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{67,268},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{67,0},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{268,67},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{201,201},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{134,268},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{268,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{201,268},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{268,201},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,67},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{67,67},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{134,0},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{0,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{67,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{134,67},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CreatorBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{134,134},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{335,335}</string>
   <key>textureFileName</key>
   <string>playanim/CreatorBtnAnim.png</string>
  </dict>
 </dict>
</plist>
