<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>DailyAnimBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_28.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_32.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_34.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_35.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_36.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_37.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_38.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_39.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_40.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_41.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_42.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_43.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_44.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_45.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_46.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_47.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_48.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_49.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_50.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_51.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_52.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_53.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{567,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_54.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_55.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_56.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_57.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_58.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{756,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_59.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_60.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_61.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_62.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_63.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,567},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_64.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{945,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_65.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_66.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,756},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_67.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1134,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_68.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_69.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,945},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{189,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_70.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1323,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_71.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,1134},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_72.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{1512,1323},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_73.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_74.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_75.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_76.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{0,0},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,189},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{187,187}</string>
    <key>spriteSourceSize</key>
    <string>{209,209}</string>
    <key>textureRect</key>
    <string>{{378,378},{187,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1701,1512}</string>
   <key>textureFileName</key>
   <string>playanim/DailyBtnAnimSheet-hd.png</string>
  </dict>
 </dict>
</plist>
