<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>DailyAnimBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_28.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_32.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_34.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_35.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_36.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_37.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_38.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_39.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_40.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_41.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_42.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_43.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_44.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_45.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_46.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_47.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_48.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_49.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_50.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_51.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_52.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_53.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1128,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_54.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_55.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_56.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_57.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_58.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1504,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_59.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_60.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_61.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_62.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_63.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,1125},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_64.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1880,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_65.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_66.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,1500},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_67.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2256,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_68.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_69.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,1875},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{376,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_70.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2632,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_71.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,2250},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_72.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{3008,2625},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_73.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_74.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_75.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_76.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,375},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DailyAnimBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{374,373}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{752,750},{374,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{3384,3000}</string>
   <key>textureFileName</key>
   <string>playanim/DailyBtnAnimSheet.png</string>
  </dict>
 </dict>
</plist>
