<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>playBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,0},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1314,0},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,1314},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,1314},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1314,438},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{876,1314},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1314,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1752,0},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,1752},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,1752},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1752,438},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,0},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1314,1314},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{876,1752},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1752,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1314,1752},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{1752,1314},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,438},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,438},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{876,0},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{438,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{876,438},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{436,436}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{876,876},{436,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2190,2190}</string>
   <key>textureFileName</key>
   <string>playanim/PlayBtnAnim-uhd.png</string>
  </dict>
 </dict>
</plist>
