<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>playBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{0,0},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{663,0},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{0,663},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,663},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{663,221},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{442,663},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{663,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{884,0},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{0,884},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,884},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{884,221},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,0},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{663,663},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{442,884},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{884,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{663,884},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{884,663},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{0,221},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,221},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{442,0},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{0,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{221,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{442,221},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,219}</string>
    <key>spriteSourceSize</key>
    <string>{219,219}</string>
    <key>textureRect</key>
    <string>{{442,442},{219,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1105,1105}</string>
   <key>textureFileName</key>
   <string>playanim/PlayBtnAnim-hd.png</string>
  </dict>
 </dict>
</plist>
