<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>UnnamedAnimBtn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,0},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,420},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,12}</string>
    <key>spriteSize</key>
    <string>{418,394}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,1226},{418,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,0},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,840},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{418,407}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,840},{418,407}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-5}</string>
    <key>spriteSize</key>
    <string>{396,407}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1260,417},{396,407}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,395}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,829},{418,395}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-1}</string>
    <key>spriteSize</key>
    <string>{396,415}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1260,0},{396,415}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,12}</string>
    <key>spriteSize</key>
    <string>{418,394}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,1249},{418,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{418,407}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,420},{418,407}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,0},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>UnnamedAnimBtn_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,420},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1658,1645}</string>
   <key>textureFileName</key>
   <string>playanim/UnnamedAnimSheet.png</string>
  </dict>
 </dict>
</plist>
