<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{354,116}</string>
    <key>spriteSourceSize</key>
    <string>{360,124}</string>
    <key>textureRect</key>
    <string>{{584,238},{354,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{698,236}</string>
    <key>spriteSourceSize</key>
    <string>{1716,388}</string>
    <key>textureRect</key>
    <string>{{0,0},{698,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{734,139}</string>
    <key>spriteSourceSize</key>
    <string>{748,154}</string>
    <key>textureRect</key>
    <string>{{0,444},{734,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{582,204}</string>
    <key>spriteSourceSize</key>
    <string>{592,222}</string>
    <key>textureRect</key>
    <string>{{0,238},{582,204}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cocos2DxLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{360,96}</string>
    <key>spriteSourceSize</key>
    <string>{360,96}</string>
    <key>textureRect</key>
    <string>{{535,742},{360,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fmodLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{148,185}</string>
    <key>spriteSourceSize</key>
    <string>{360,213}</string>
    <key>textureRect</key>
    <string>{{700,0},{148,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{648,155}</string>
    <key>spriteSourceSize</key>
    <string>{662,170}</string>
    <key>textureRect</key>
    <string>{{0,585},{648,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{533,154}</string>
    <key>spriteSourceSize</key>
    <string>{547,168}</string>
    <key>textureRect</key>
    <string>{{0,742},{533,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{940,898}</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
