<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{90,29}</string>
    <key>spriteSourceSize</key>
    <string>{90,31}</string>
    <key>textureRect</key>
    <string>{{148,61},{90,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{175,59}</string>
    <key>spriteSourceSize</key>
    <string>{429,97}</string>
    <key>textureRect</key>
    <string>{{0,0},{175,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{185,35}</string>
    <key>spriteSourceSize</key>
    <string>{187,38}</string>
    <key>textureRect</key>
    <string>{{0,114},{185,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{146,51}</string>
    <key>spriteSourceSize</key>
    <string>{148,55}</string>
    <key>textureRect</key>
    <string>{{0,61},{146,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cocos2DxLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,24}</string>
    <key>spriteSourceSize</key>
    <string>{90,24}</string>
    <key>textureRect</key>
    <string>{{136,192},{90,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fmodLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{38,47}</string>
    <key>spriteSourceSize</key>
    <string>{90,53}</string>
    <key>textureRect</key>
    <string>{{177,0},{38,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{164,39}</string>
    <key>spriteSourceSize</key>
    <string>{166,42}</string>
    <key>textureRect</key>
    <string>{{0,151},{164,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{134,39}</string>
    <key>spriteSourceSize</key>
    <string>{136,42}</string>
    <key>textureRect</key>
    <string>{{0,192},{134,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{240,233}</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet.png</string>
  </dict>
 </dict>
</plist>
